@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {

    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url("./Images/paski-tlo.jpg");
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    height: 8vw;
    border: 2px solid rgb(0, 0, 0);
    color: yellow;
    font-size: 90px;
    font-size: 4.5vw;
    font-family: 'Ojuju', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    background-color: rgb(192, 45, 45);
    margin: auto;
    width: 55.5%;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#h3 {
    display: flex;
    height: 8vw;
    color: black;
    margin: auto;
    width: 100%;
    align-items: center;
    
}

#pasekL{    
    float: left;
    height: 100vh;
    border-right: 2px solid black;
    margin-left: auto;
    width: 15%;
}
#pasekR{
    float: right;
    height: 100vh;
    border-left: 2px solid black;
    margin-right: auto;
    width: 15%;
}

img {
    max-width:100%;
    max-height:100%;
    border-top: 1px solid black;
    position: absolute;
    top: 0;
    width: 10%;
    border: 2px solid black;
    border-radius: 10px;
}

#menu {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 0.7vw;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    width: 55.5%;
    text-size-adjust: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

nav {
    display: flex;
    width: 157,5vh;
    height: 100vh;
    margin-inline: auto;
    border: solid rgb(0, 0, 0);
    border-bottom: 3px solid black;
}

ul{
    display:flex;
    gap: 20px;
    padding: 0;
    justify-content: center;
    height: 3vw;
    border:10px solid rgb(100, 20, 20);
    width: 550px;
    align-items: center;
    margin-inline: auto;
    background-color: white;
    font-size: 1.1vw;
    text-decoration: none;
    margin-bottom: 24px;
}

li {
    display: block;
    background: transparent;
    border-radius: 5px;
    color: white;
}

.buttons .visited {
    border: solid black 2px;
    padding: 2.5px;
    background-color: rgb(192, 45, 45);
    color: rgb(0, 0, 0);
}


.buttons :hover {
    border: solid black 2px;
    padding: 2.5px;
    background-color: rgb(192, 45, 45);
    border-radius: 2.5px;
    color: white;
}

.lowerbuttons{
    font-size: 3.5vw;
}

a{
    text-decoration: none;
    color: black;
}



div {
    display: flex;
    background-color: rgb(139, 139, 139);
    justify-content: center;
    align-items: center;
}

#block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px auto;
    border-radius: 20px;
    width: 50%;
    border: 2px solid black;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    background: transparent;
    font-size: xx-large;
}


#black-rectangle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#black-rectangle ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}


#tmV_ul {
    background-color: #f90600;
}

#tmI_ul {
    background-color: #ffdd02;
}

#tmM_ul {
    background-color:  #029efe;
}

#tmV_ul, #tmI_ul, #tmM_ul {
    margin: 10px;
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
}