
body {
    background-color: rgb(255, 255, 255);
    padding: 350px;
    margin: 0px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 170px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    margin-inline: auto;
    border: solid rgb(0, 0, 0);
    border-bottom: 3px solid black;
    justify-content: center;
    padding: 20px;
}