@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 50px;
  background-color: rgb(139, 139, 139);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  margin: auto;
  margin-top: 20px;
  align-items: left;
  display: inline
}

#searchbar {
  width: 47%;
  height: 40px;
  margin-top: 2px;
}

#searchbtn{
  width: 26%;
  height: 100%;
  float: right;
  margin-top: 15px;
}
#resetbtn {
  width: 26%;
  height: 100%;
  float: left;
  margin-top: 15px;
}



h1 {
    display: flex;
    justify-content: center;
    height: 8vw;
    border: 2px solid rgb(0, 0, 0);
    color: yellow;
    font-size: 90px;
    font-size: 4.5vw;
    font-family: 'Ojuju', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    background-color: royalblue;
    margin: auto;
    width: 55.5%;
    align-items: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


#menu {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 1.1vw;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    width: 55.5%;
    text-size-adjust: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


ul{
    display:flex;
    gap: 20px;
    padding: 0px;
    justify-content: center;
    height: 60px;
    border:10px solid rgb(20, 57, 100);
    width: 450px;
    align-items: center;
    margin-inline: auto;
    background-color: white;
    font-size: 0.9vw;
    text-decoration: none;
}



.buttons .visited {
    border: solid black 2px;
    padding: 2.5px;
    background-color: royalblue;
    color: rgb(0, 0, 0);
}

.buttons :hover {
    border: solid black 2px;
    padding: 2.5px;
    background-color: royalblue;
    border-radius: 2.5px;
    color: white;
}



div#block-container{
    background-color: rgb(139, 139, 139);
}

li {
    color: rgb(0, 0, 0);
    display: block;
    background-color: white;
    size: 1vw;  
    text-decoration: none;
}

li.ref{
    background-color: rgb(139, 139, 139);; 
}

div#dex {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    background-color: rgb(139, 139, 139);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border-radius: 50px;
    border-style: inset;
    border-width: 5px;
}

#innerpicture{
  max-width: 180px;
  max-height: 180px;
  margin-left: 10px;
  margin-top: 10px;
}

.description {
  float: right; 
  margin-left: 1px;
  margin-right: 10px;
  margin-top: 20px;
  width: 40%; 
  font-size: 0.9vw;
  
}


img {
    max-width:100%;
    max-height:100%;
    border: 1px solid black;
    border-radius: 25px;
}

a{
    text-decoration: none;
    color: black;
}

.alb{
    width: 200px;
    height: 200px;
    padding: 15px;
}
.alb img{
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

div.elementToHover{
    position: relative;
    display: flex;
    place-content: center;
}
div.elementToPopup{
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: royalblue;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;
    border: 2px solid black;
}




div.elementToPopup:before{
    content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top: 8px solid royalblue;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }

   table {
    border-collapse: collapse;
    border: 2px solid rgb(160 160 160);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    margin-bottom: 10px;
    font-weight: bold;
  }

caption .pokemon-id {
    position: absolute;
    left: 0;
    margin-left: 10px;
}

caption .pokemon-name {
    text-align: center;
}
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }

  td{
    text-align: center;
  }
  section{
    padding: none;
    width: 20%;
  }
  div.type{
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  :root {
    --normal: #A8A77A;
    --fire: #EE8130;
    --water: #6390F0;
    --electric: #F7D02C;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #C22E28;
    --poison: #A33EA1;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #735797;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #D685AD;
}

#w-h-numbers{
    margin-left: 20px;
  }

div.type {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 120px;
    color: white;
}

.normal { background-color: var(--normal); }
.fire { background-color: var(--fire); }
.water { background-color: var(--water); }
.electric { background-color: var(--electric); color: black; }
.grass { background-color: var(--grass); }
.ice { background-color: var(--ice); color: black; }
.fighting { background-color: var(--fighting); }
.poison { background-color: var(--poison);}


